@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
  text-align: center;

  &__header {
    background-color: rgb(12, 195, 228);
    color: white;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
  }

  &__price {
    background-color: rgb(64, 217, 244);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    span {
      font-size: 50px;
      font-weight: 600;
    }
  }

  &__speed {
    background-color: rgb(244, 246, 247);
    color: gray;
    padding: 10px;
  }

  &__info {
    background-color: rgb(214, 216, 216);
    color: gray;
    padding: 10px 30px;
    line-height: 30px;
  }
  //стили голубой карточки тарифа
  &_blue {
    &__header {
      background-color: rgb(12, 195, 228);
    }
    &__price {
      background-color: rgb(64, 217, 244);
    }
  }
  //стили зеленого карточки тарифа
  &_green {
    &__header {
      background-color: rgb(11, 205, 53);
    }
    &__price {
      background-color: rgb(95, 237, 126);
    }
  }
  //стили красной карточки тарифа
  &_red {
    &__header {
      background-color: rgb(232, 29, 25);
    }
    &__price {
      background-color: rgb(242, 97, 68);
    }
  }
  //стили черной карточки тарифа
  &_black {
    &__header {
      background-color: rgb(28, 22, 22);
    }
    &__price {
      background-color: rgb(50, 37, 34);
    }
  }
}
